input{
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
}

input[type="checkbox"],input[type="radio"]{
    height: 16px;
    width: 16px;
    margin-left: 95px;
}

label{
    width: 240px;
    display: inline-block;
    
}

.job label{
    text-align: left;
}

textarea{
    padding: 6px;
    font-size: 14px;
}

select{
    padding: 6px;
    font-size: 40px;
}
